<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857239311368-g4min7id5ca2n2tc71b8g74iho5pqia8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857239311368-g4min7id5ca2n2tc71b8g74iho5pqia8</string>
	<key>API_KEY</key>
	<string>AIzaSyDIzEz4xIHVLCrtB2EAMOw6ln0lteCYmm8</string>
	<key>GCM_SENDER_ID</key>
	<string>857239311368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mini.TinyLives</string>
	<key>PROJECT_ID</key>
	<string>tinylives-b9481</string>
	<key>STORAGE_BUCKET</key>
	<string>tinylives-b9481.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:857239311368:ios:f61f5c23a54831c0d5edbd</string>
	<key>DATABASE_URL</key>
	<string>https://tinylives-b9481-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
